[2013-08-10 14:40] bachmanm opened #1 "Server Mode"
Investigate and implement using this in server mode

[2013-08-10 14:40] bachmanm opened #2 "REST API"
Create a REST API for the framework

[2013-08-10 14:40] bachmanm opened #3 "Upgrade to Neo4j 2.0"

[2013-08-10 14:57] bachmanm opened #4 "Module Idea: in-graph b-tree index"
for paging, random relationship selection, etc.

[2013-08-10 14:58] bachmanm opened #5 "Module Idea: temporal graph database"
that never deletes data, only marks them obsolete

[2013-08-10 20:57] bachmanm opened #6 "Module Idea: supernode performance improver"
When a node has more than some number of relationships, say 1M, create 1K relationships to 1K intermediate nodes, each with 1K real relationships.

[2013-08-13 18:40] bachmanm opened #7 "Optional Ping Home for Stats Collection"
to know, how many people are using it (opt-in probably)

[2013-08-24 13:52] bachmanm opened #8 "Better indexing support"
Write a wrapper for IndexManager, so that things can be looked up in a index during beforeCommit()

[2013-08-25 22:48] bachmanm opened #9 "Make it easy for people to download the framework and all modules"

[2013-08-29 16:18] bachmanm opened #10 "Explicitly check properties do not contain #"

[2013-10-24 23:31] #10 closed, assigned to nobody

[2013-12-05 00:22] #3 closed, assigned to bachmanm

[2013-12-05 00:23] #1 closed, assigned to bachmanm

[2014-05-30 21:46] #9 closed, assigned to nobody

[2014-05-30 21:47] #6 closed, assigned to nobody

[2014-06-23 15:43] jotomo opened #11 "Feature request: consider slf4j for logging"
This project being a framework, it would make integration into an application easier if logging would not be coded against log4j, but use slf4j, so that an application can use, or keep using, a logging implementation of their chosing. In my, case I'm already using logback via slf4j. I added log4j-over-slf4j to avoid having to use logback _and_ log4j (not sure that would even work), but I consider

[2014-07-09 12:57] #11 closed, assigned to atg103

[2014-07-11 23:23] #4 closed, assigned to nobody

[2014-07-11 23:23] #5 closed, assigned to nobody

[2014-09-21 13:56] #8 closed, assigned to nobody

[2014-09-21 13:56] #7 closed, assigned to nobody

[2014-09-21 13:57] #2 closed, assigned to bachmanm

[2014-09-21 13:58] bachmanm opened #13 "Do not persist module metadata if the module never produces any"

[2014-09-21 13:59] bachmanm opened #14 "Try to provide the old metadata to a module with changed metadata when re-initialising"

[2015-02-15 17:57] bachmanm opened #15 "Expose long-running transactions to extensions, so that they can participate"

[2015-02-22 15:18] bachmanm commented on #15
Will be in the release for Neo4j 2.2

[2015-02-22 15:18] #15 closed

[2015-03-21 20:14] #14 closed

[2015-03-21 20:15] bachmanm commented on #13
won't fix

[2015-03-21 20:15] #13 closed

[2015-04-23 16:01] bachmanm opened #16 "Make sure all plugins are secured using Neo4j auth mechanism"

[2015-04-24 13:00] #16 closed

[2015-05-19 19:47] jazzido opened #17 "ImprovedTransactionData: node.removeLabel doesn't affect getAllChangedNodes()"
I'm using `tx-api` to [integrate Neo4J with ElasticSearch](https://github.com/jazzido/neo4j-elasticsearch/blob/graphaware-tx-api/src/main/java/org/neo4j/elasticsearch/ElasticSearchEventHandler.java) and came across a (possible) issue.

When the only mutation performed to a `Node` is `removeLabel()`, `getAllChangedNodes()` won't contain the corresponding entry. Namely:

[code]
`ImprovedTransactionD

[2015-05-19 21:50] bachmanm commented on #17
Hey, first of all, thanks for working on the ElasticSearch integration and for using the GraphAware Framework, good effort!

Now, there was a bug in `FilteredTransactionData`, which I've fixed and which will be released soon, but I don't think it affects you since you're using `LazyTransactionData`. What you're seeing could be a bug, indeed, but I haven't managed to reproduce it yet.

It could als

[2015-05-20 02:25] jazzido commented on #17
Thank you. I've only implemented some of the suggestions made by @jexp on his project's README. GA Framework is very handy for providing an —IMHO— better API for tracking changes.

Actually, I reported this issue before I started using `LazyTransactionData` instead of `FilteredTransactionData`, so I might have been bitten by the bug you mention. See [this revision of my transaction handler](https:

[2015-05-20 18:58] jazzido commented on #17
What's the intended behaviour for node label removal if `FilteredTransactionData` filters out nodes that does not have the label that has just been removed? In other words, does `NodeInclusionPolicy.include(node)` gets the current or previous version of a node as its argument?

[2015-05-23 01:28] bachmanm commented on #17
The intended behaviour is that it will get picked up. The inclusion policy is presented with both the previous and current version of the node and if it returns true for any of the, it gets picked up.

Please see
https://github.com/graphaware/neo4j-framework/blob/master/tx-api/src/test/java/com/graphaware/tx/event/improved/FilteredLazyTransactionDataIntegrationTest.java#L141

and

https://github.c

[2015-05-23 01:28] #17 closed

[2015-05-25 20:00] ikwattro opened #18 "Allow IterableBatchTransactionExecutor to handle ResourceIterator<Node>"
Currently, we have to use `GlobalGraphOperations` in order to use the `IterableBatchTransactionExecutor` from the framework.

The GGO is deprecated and thus I think it would be nice to support the new database methods that returns `ResourceIterator<Node>` or `ResourceIterator<Relationship>`

[2015-05-30 17:32] bachmanm commented on #18
In latest version, you'll be able to pass in an Iterator as well. Just be careful, the arguments come in a different order (quickfix because of java type erasure). So you now have:

`public IterableInputBatchTransactionExecutor(GraphDatabaseService database, int batchSize, final TransactionCallback<Iterable<T>> callback, UnitOfWork<T> unitOfWork)`

and

`public IterableInputBatchTransactionExecuto

[2015-05-30 17:32] #18 closed

[2015-06-09 18:10] jbkielis opened #20 "SingleThreadedWriter logging uses seconds rather than ms"
I've attached a screenshot with the offending code.  I think the TimeUnit just needs to switch to MS.

![image](https://cloud.githubusercontent.com/assets/8429873/8065670/f630048e-0eb0-11e5-9133-d830b89203a9.png)

[2015-06-09 19:02] bachmanm commented on #20
Good catch! :+1: Will fix in the next release.

[2015-06-09 19:44] bachmanm opened #21 "Use random module order if multiple modules with same order configured"

[2015-06-16 03:36] bachmanm commented on #21
fix will be released with the next version of the framework

[2015-06-16 03:36] #21 closed

[2015-06-16 03:36] bachmanm commented on #20
fix will be released with the next version of the framework

[2015-06-16 03:36] #20 closed

[2015-06-17 11:57] bachmanm opened #22 "Fix docs re custom uri"

[2015-06-17 11:59] bachmanm opened #23 "Adaptive timing strategy not properly taken as a default"
Without explicitly specifying timing strategy, one can't configure details of the adaptive one

[2015-06-18 04:51] #23 closed

[2015-06-18 04:51] bachmanm commented on #22
fixed by a PR from @K-Jo

[2015-06-18 04:51] #22 closed

[2015-07-28 08:59] gokulreddy07 opened #25 "Debian jessie, graphaware plugins are not working"
I don't know what went wrong with your plugins, tried several times installing.

this is my configuration and copied required framework jar and plugins jar.

com.graphaware.runtime.enabled=true

#******** Graphaware UUID ***** #

#*UIDM becomes the module ID:
com.graphaware.module.UIDM.1=com.graphaware.module.uuid.UuidBootstrapper

#*optional, default is uuid:
com.graphaware.module.UIDM.uuidProper

[2015-07-28 09:44] bachmanm commented on #25
What version if neo4j and graphaware? What's not working? Could you please provide console.log from /data/log after you start the db? Thanks

[2015-07-28 10:19] gokulreddy07 commented on #25
I'm using neo4j 2.2.3 and graphaware framework is 2.2.2.32 server. i'm trying to create timetree and uuid using graphaware timetree and uuid plugins along with graphaware framework server i tried it but its not creating

Here is my console.log

"2015-07-28 06:42:40.153+0000 INFO  [API] Setting startup timeout to: 120000ms based on 120000
2015-07-28 06:42:44.484+0000 INFO  [API] Successfully starte

[2015-07-28 13:11] bachmanm commented on #25
Please use neo4j 2.2.2, there's a bug in 2.2.3 that affects the framework (https://github.com/neo4j/neo4j/issues/4910). That's why we haven't released a version of the framework compatible with 2.2.3

[2015-08-11 10:36] #25 closed

[2015-09-25 15:12] gokulreddy07 opened #29 "Unable to download plugins"
Hi guy's unable to download any of graphaware plugins its showing 404 error.

[2015-09-25 21:13] MicTech commented on #29
We really apologize for this inconvenience. It's just temporarily disabled due to a site maintenance.

You can download them from the GitHub. Here is the page for the GraphAware Framework: https://github.com/graphaware/neo4j-framework/releases

[2015-09-26 06:03] bachmanm commented on #29
Thanks @MicTech for picking this up. The products are also going to be available on http://products.graphawre.com, but the website (though still being changed actively) should now be fixed.

[2015-09-26 06:03] #29 closed

[2015-10-11 16:54] bachmanm opened #30 "Module throwing exception breaks atomicity"
It has always been a design decision that only throwing `DeliberateTransactionRollbackException` from `beforeCommit()` of a module actually rolls the transaction back. This should be reconsidered, because (perhaps due to programming error), partial transaction updates may occur.

Possible solution: Let all RuntimeExceptions rollback the entire transaction, but not checked exceptions.

[2015-10-13 18:30] jbkielis opened #31 "Does this package provide hooks to allow addition of custom jmx filters?"
I'd like to add a javax.servlet.Filter in order to do GZIP compression.  Does this library allow us to hook into jetty server setup in order to add this?

Thanks.

[2015-10-13 18:50] bachmanm commented on #31
Yes, but not without coding. We already do this for a Filter we need - have a look here: https://github.com/graphaware/neo4j-framework/blob/master/server/server-common/src/main/java/com/graphaware/server/web/GraphAwareJetty9WebServer.java#L219

Without changes to the Framework, you'd have to extend `GraphAwareJetty9WebServer` and override the `setDefaultInjectables` method, then override `GraphAwa

[2015-10-21 21:36] ludydoo opened #32 "Neo4j fails to start when Graphaware plugin is enabled"
Hi,

I installed neo4j with homebrew to try it out, then I wanted to insatall the node-uuid plugin which states that I must install the graphaware framework.

This is my neo4j info
[code]

Then, I added `graphaware-uuid-2.2.6.35.7.jar`and `graphaware-server-community-all-2.2.6.35.jar` into `usr/local/Cellar/neo4j/2.3.0/libexec/`

[code]

And as the node-uuid plugins states, I add this to `neo4j.pr

[2015-10-22 06:14] MicTech commented on #32
Your problem is in the different versions of Neo4j and GraphAware plugins.

Neo4j - 2.3.0
GA plugins - 2.2.6.x.x

Those version must be the same. Please download correct version from [http://products.graphaware.com/](http://products.graphaware.com/)

[2015-10-22 07:28] bachmanm commented on #32
It's gonna take us a few days to release a version compatible with 2.3.0, which was just released

[2015-10-22 07:28] #32 closed

[2015-10-30 17:06] magaton opened #34 "Missing artifact com.eaio.uuid:uuid:jar:3.4"
There is no 3.4 version in central maven repo.

[2015-10-31 23:26] bachmanm commented on #34
I know :( But that's why there's a separate repo defined in pom.xml. Is this a problem? Thanks!

[2015-11-02 07:36] magaton commented on #34
I agree that this should be a separate repo, but I had to specify it in neo4j-importer (and any other project that is using graphaware module parent), otherwise it won't build.

[2015-11-08 14:38] ikwattro opened #35 "Streaming Respones from Controller"
What is good with the framework is that you can just return any objects you want to the Response.

However it would be nice, when you are returning a lot of objects, to be able to stream the response like :

[code]

[2015-11-15 18:11] sylvainroussy opened #36 "[Neo4j 2.3 - Community] Http logging causes ClassCastException at start"
Hi,

When activating "org.neo4j.server.http.log.enabled=true" the Neo4j server failed to start:

2015-11-15 19:01:50.353+0100 ERROR Failed to start Neo4j: Starting Neo4j failed: org.eclipse.jetty.server.handler.RequestLogHandler cannot be cast to org.eclipse.jetty.server.handler.HandlerList Starting Neo4j failed: org.eclipse.jetty.server.handler.RequestLogHandler cannot be cast to org.eclipse.jett

[2015-11-15 23:37] bachmanm commented on #36
Thanks, this is an embarrassing regression, will be fixed in next release (a few days max)

[2015-11-16 01:24] #36 closed

[2015-11-16 01:26] #31 closed

[2015-11-22 23:16] moshebeeri commented on #34
Same thing here, but worse. since I'm using SBT.
trying to use reco via Scala, any work around?

[2015-11-23 00:33] bachmanm commented on #34
Could you guys try with latest release 2.3.1.36? It should be fixed as I downgraded the dependency to 3.2, which is present in Central...

[2015-11-23 13:04] moshebeeri commented on #34
Thanks but I get 500 server error when trying to download latest, not even 404 :-(

[2015-11-23 13:26] bachmanm commented on #34
try now

[2015-11-23 13:26] #34 closed

[2015-11-23 18:49] ikwattro opened #37 "Lucene.alreadyClosedException while adding labels with tx-executor"
@bachmanm Not sure if it is related to the framework or through neo4j/lucene

**Scenario : **

Using `IterableBatchTransactionExecutor` to add labels to `AllNodesWithLabel`.

Failing test :

[code]

Test available in a dedicated branch : https://github.com/graphaware/neo4j-framework/blob/labels-ibtx/tx-executor/src/test/java/com/graphaware/tx/executor/batch/IterableInputAddingLabelsTest.java

Note

[2015-11-25 10:02] bachmanm commented on #37
I'm not sure if this is a bug in Neo4j, but it definitely seems to be a change in behaviour. I'll write a test case and report it. In the meantime, the dirty workaround is to set the `batchSize` in `AllNodesWithLabel` to `Integer.MAX_VALUE` :(

[2015-11-25 10:05] ikwattro commented on #37
Ha I will test. Thanks for checking.

On 25 November 2015 at 11:02, Michal Bachman <notifications@github.com>
wrote:

--
Christophe Willemsen | Graph Aware Limited

Phone: +44 (0) 333 444 7274 | Mobile: +32 (0) 489 687 208
christophe@graphaware.com | @graph_aware | www.graphaware.com

[2015-11-26 07:07] raux opened #38 "Study on OSS maven library incompatiblities and vunerabilities: google-guava"
Dear Github OSS Developer,

My name is Raula Kula, a research assistant prof at Osaka University, Japan. Currently I am studying the maintenance of Maven Libraries. I am currently focused on OSS incompatibilites, release management and the varying reasons for library migration.

As a part of my study I particularity focused on the google guava library. https://github.com/google/guava. Particuarly

[2015-11-26 21:00] Danielss89 opened #39 "Installation fails 'The ResourceConfig instance does not contain any root resource classes'"
Hi
I'm trying to install TimeTree(and graphaware framework).
I've copied the timetree and framework .jar files into plugins folder added ` org.neo4j.server.thirdparty_jaxrs_classes=com.graphaware.server=/graphaware` to the end of `/etc/neo4j/neo4j-server.properties` but i'm getting an error when restarting neo4j:

[code]

Full error log here: https://gist.github.com/Danielss89/01bb24ccaae0f23a988a

[2015-11-26 22:58] ikwattro commented on #39
Hi,

Can you provide the neo4j version, framework and timetree versions you are using.

Thanks !

[2015-11-27 08:32] Danielss89 commented on #39
graphaware-server-community-all-2.3.1.36
graphaware-timetree-2.3.1.36.24
graphaware-uuid-2.3.1.36.7

Neo4j: 2.3.1 Community

[2015-11-27 17:13] bachmanm commented on #39
This is weird... what's the output of `ls -alh` of your `plugins` directory? The error looks like you do not have the framework .jar in plugins.

[2015-11-27 18:13] Danielss89 commented on #39
[code]

[2015-11-27 18:48] bachmanm commented on #39
Permissons? :)

[2015-11-27 18:53] Danielss89 commented on #39
What should the be?

[2015-11-27 19:05] bachmanm commented on #39
Try neo4j:adm also for the plugins...

[2015-11-30 08:22] bachmanm commented on #39
success?

[2015-11-30 09:06] Danielss89 commented on #39
yes, just changed the permissions, and now it works! thanks.

[2015-11-30 09:06] #39 closed

[2015-12-09 00:09] bachmanm commented on #38
1. No, but you made me aware, so we just upgraded
2. Unawareness
3. Not using out-of-date libs, provided our tests still pass after the upgrade

[2015-12-09 00:09] #38 closed

[2015-12-11 13:21] bachmanm commented on #30
cc @aleshav

[2015-12-11 13:21] #30 closed

[2015-12-12 21:41] bachmanm commented on #35
have a look at https://github.com/graphaware/neo4j-framework/tree/master/examples/node-streaming

[2015-12-12 21:41] #35 closed

[2015-12-12 22:01] bachmanm commented on #37
see https://github.com/neo4j/neo4j/issues/6087

[2015-12-12 22:01] #37 closed

[2015-12-30 14:31] drew-moore opened #40 "Neo4j (2.3.1) fails to start with runtime (2.3.1.36) enabled"
I'm developing a server extension, with a fresh install of neo4j 2.3.1 and `graphaware-embedded-all-2.3.1.36.jar` in the plugins directory. Neo4 fails to start when I have runtime enabled, barfing on:

    2015-12-30 06:02:35.693-0800 ERROR Failed to start Neo4j: Starting Neo4j failed: Component 'org.neo4j.server.database.LifecycleManagingDatabase@59038530' was successfully initialized, but failed

[2015-12-30 15:43] bachmanm commented on #40
Are you absolutely positively sure that the Neo4j instance you deploy this to is 2.3.1? The pom is correct (apart from jackson version, which should be 2.2.3 to avoid clashes with Neo4j's jackson, but that's not the cause of this problem). The error suggests you're running 2.2.x version of Neo4j.

[2015-12-30 16:12] drew-moore commented on #40
Absolutely positive, yes.

I saw #32, which looked similar to this and was caused by a version mismatch, but then triple-checked to confirm I was running 2.3.1. I verified this by looking at the webadmin interface (which is easily distinguishable between 2.3.x and 2.2.x) after starting up successfully without runtime enabled. I'm away from my machine right now, but if you'll tell me what shell com

[2015-12-30 17:55] bachmanm commented on #40
I don't think so... I'd double check you ONLY have the right graphaware version in plugins. If you're really using Neo4j 2.3.1 and GA 2.3.1.36 and the error still occurs, it would be great if you could reproduce this somewhere in the cloud (like aws), so I can ssh in and have a look. Cheers!

[2015-12-30 23:20] ikwattro commented on #40
@bachmanm Just for info :

This line proves the 2.3 version : `org.neo4j.kernel.impl.factory.GraphDatabaseFacadeFactory.newFacade`

In 2.2, there is no such class and the `factory` package is not under `impl`

[2015-12-31 09:45] bachmanm commented on #40
true, but `org.neo4j.kernel.impl.core.NodeManager.newGraphProperties()Lorg/neo4j/kernel/impl/core/GraphPropertiesImpl;` really isn't in 2.3.1.

Could you do an md5 hash of your framework .jar file? Any chance it is an older one renamed to 2.3.1.36?

[2015-12-31 20:37] drew-moore commented on #40
Aye...  Nope, the framework .jar was correct, but for some (clearly very bad) reason I had put `common-2.2.2.31.jar` in my plugins awhile back and didn't catch it when copying them into the 2.3.1 instance.

Removing that resolves the issue.

[2015-12-31 20:37] #40 closed

[2016-01-28 18:23] bachmanm opened #41 "Make sure the framework works with Mac dmg Installer"
it does not seem to

[2016-02-01 17:36] b3n01t commented on #41
No, it really does not seem to.

[2016-02-02 11:28] bachmanm commented on #41
you know the workaround right? Just use the .tgz distro... we'll look into it soon

[2016-03-04 08:49] superkruger opened #43 "The ResourceConfig instance does not contain any root resource classes"
neo4j server 2.3.2 community edition fails to start up when adding the graphaware plugin.
I tried with jdk 7 and 8.

Here's the log:
2016-03-04 09:46:23.859+0100 ERROR Failed to start Neo4j: Starting Neo4j failed: org.neo4j.server.web.NeoServletContainer-1d5378a2@386e8717==org.neo4j.server.web.NeoServletContainer,-1,false Starting Neo4j failed: org.neo4j.server.web.NeoServletContainer-1d5378a2@386

[2016-03-04 11:24] ikwattro commented on #43
Hi,

Looks like a permissions problem on the plugins, can you output the result of `ls -alh plugins/`

Thanks

[2016-03-04 12:28] superkruger commented on #43
Thanks for the fast response Christophe.

Doesn't look like permissions:

drwxr-xr-x@  4 jaco  staff   136B  4 Mar 09:38 .
drwxr-xr-x@ 15 jaco  staff   510B  4 Mar 09:38 ..
-rw-r--r--@  1 jaco  staff   273B 13 Jan 00:01 README.txt
-rw-r--r--@  1 jaco  staff   397K  4 Mar 09:17 graphaware-server-community-all-2.3.2.37.jar

[2016-03-04 12:57] bachmanm commented on #43
Do you have `org.neo4j.server.thirdparty_jaxrs_classes=com.graphaware.server=/graphaware` in neo4j-server.properties?

[2016-03-04 13:00] superkruger commented on #43
yes indeed:

# graphaware
org.neo4j.server.thirdparty_jaxrs_classes=com.graphaware.server=/graphaware

[2016-03-04 13:23] bachmanm commented on #43
Where did you get the jar? Looks small to me. Try products.graphaware.com

[2016-03-04 14:07] superkruger commented on #43
O yeah, should be heaps bigger... Must have corrupted or something during download... weird.
From: https://github.com/graphaware/neo4j-framework#download

Thanks for the quick help, all sorted now ;)

[2016-03-04 14:07] #43 closed

[2016-03-04 17:13] ikwattro commented on #43
You're welcome,

If later on you want to share your experience and your thoughts of the framework, let us know, we will be happy to hear it.

[2016-03-08 12:34] drgraduss opened #44 "Neo4j server fails to start when graphaware/neo4j-framework enabled"
I'm trying to use Graphaware NodeRank plugin. After enabling framework and NodeRank server fails to start with following exception in console.log.

[code]

Neo4j version 2.3.2 (Windows Community Edition)
Graphaware Framework 2.3.2.37
Graphaware NodeRank 2.3.2.37.2

Could you please advise.

[2016-03-08 12:50] drgraduss commented on #44
sever successfully started after reboot. please disregard.

[2016-03-08 12:50] #44 closed

[2016-05-03 09:03] dmitriid opened #46 "Latest version is still 2.3.3 despite README"
The README states:

The latest available download is 2.3.3.37-3 which breaks Neo4J 3.0.0

[2016-05-03 09:04] dmitriid commented on #46
The link to 3.0.0.38 is broken and produces HTTP 500: http://products.graphaware.com/download/framework-server-community/graphaware-server-community-all-3.0.0.38.jar

[2016-05-03 11:28] ikwattro commented on #46
Thanks it should be upped now http://products.graphaware.com/download/framework-server-community/latest

[2016-05-03 11:35] dmitriid commented on #46
Awesome, thanks!

Quick question: will it work with latest versions of TimeTree?

[2016-05-03 11:36] ikwattro commented on #46
TimeTree is not yet upgraded, we're busy on it (there is actually a migration branch). We expect to have our modules compatible with 3.0 during the weekend.

[2016-05-03 11:39] dmitriid commented on #46
You're awesome! Thank you!

[2016-05-03 11:39] #46 closed

[2016-05-10 08:45] royipressburger opened #47 "Error in console.log when runnning the framework neo4j 3.0.1"
Hi

Im running the framework with the `uuid module` and i get some warnnins in the `console.log`.
Im not sure it something critical cause all seems to work fine:

`2016-05-10 08:39:32.740+0000 WARN  [o.n.k.i.p.Procedures] Failed to load `org.apache.commons.logging.impl.AvalonLogger` from plugin jar `/var/lib/neo4j/plugins/graphaware-server-enterprise-all-3.0.0.38.jar`: org/apache/avalon/framework/

[2016-05-10 09:06] ikwattro commented on #47
Thanks for the report, we'll look into it. Can you confirm you don't have any other plugins than the framework and the uuid module ? Thanks.

[2016-05-10 13:39] royipressburger commented on #47
yes no other plugins...

[2016-05-14 10:45] dpdonohue opened #48 "First try of neo4j-framework - errors due to missing methods and classes"
I am using latest released version of GraphAware neo4j-framework
[code]

First your documentation here is out of date
https://github.com/graphaware/neo4j-framework/tree/master/tests
For example you no longer have classes named TestUtils or WrappingServerIntegrationTest

I assume HaServerIntegrationTest replaces WrappingServerIntegrationTest?  I could find no documentation on the former.

Here is m

[2016-05-15 13:02] bachmanm commented on #48
Are you sure you are using Neo4j 3.0.1? The errors look like you're using incompatible versions of Neo4j and the GraphAware Framework. I'll fix the docs asap, thanks for pointing that out.

[2016-05-16 10:07] dpdonohue commented on #48
Yes correct I had this in my pom.xml

[code]

I changed it to:
[code]

and it works.  Thanks for your help!  Not sure if I missed something in the documentation, stating to make sure to use neo4j version 3+

[2016-05-16 10:07] #48 closed

[2016-05-16 10:15] ikwattro commented on #48
@dpdonohue I guess you missed the note on versioning scheme https://github.com/graphaware/neo4j-framework#note-on-versioning-scheme

[2016-05-19 23:10] jbkielis opened #49 "Logging in Neo4j 3.0?"
How does logging work when creating unmanaged modules in server-mode in Neo4j 3.0?  All the examples seem to use slf4j configured via logback.xml.  However, that doesn't seem to work anymore.

Thanks.

[2016-06-03 21:17] bachmanm commented on #47
This is not an issue at all, you can safely ignore the warnings. It is a very minor issue in Neo4j in that it uses a strange mechanism to detect procedures. I think we should report it as such.

[2016-06-03 21:17] #47 closed

[2016-06-04 02:27] bachmanm commented on #49
This will be fixed in the next release which will be compatible with Neo4j 3.0.2. No more logback - it will use Neo4j's own logging mechanism

[2016-06-04 02:27] #49 closed

[2016-06-10 10:32] leopoda opened #50 "Seems the framework runtime is not working"
I have install the Neo4J enterprise 3.0.1 and drop the timetree, UUID and framework jar to the plugins forder, and edit the conf/neo4j.conf according to the instructions. But unfortunately, when I restart the neo4j, there are lots of "**WARN  [o.n.k.i.p.Procedures] Failed to load**"  messages in logs/debug.log:

2016-06-10 10:08:55.059+0000 INFO  [o.n.k.i.l.StoreLogService] Opened new internal log

[2016-06-10 11:02] ikwattro commented on #50
Hi,

You are using neo4j 3.0.1 with a snapshot version of the framework 3.0.2, according to the lines in the logs :

[code]

Please use a support version for your neo4j version here :

http://products.graphaware.com/download/framework-server-enterprise/graphaware-server-enterprise-all-3.0.1.38.jar

Make sure also your timetree and uuid plugins versions are using the supported 3.0.1 version of neo4

[2016-06-10 12:26] leopoda commented on #50
@ikwattro That works.  Thanks very much, it saved me much time. :+1:

[2016-06-10 12:26] #50 closed

[2016-06-13 02:51] MerrickClark commented on #41
This would be handy info in the Readme!

[2016-06-21 09:34] davidrapin opened #51 "Allow shorthand "true" and "false" in node/relationship inclusion policies"

[2016-06-22 15:04] #51 closed

[2016-06-24 14:13] jotomo opened #53 "Commons module dependes on runtime module."
For some (accidental, I presume) reason the _commons_ module JAR contains a service file belonging to the _runtime_ module, which asks Neo4j to bootstrap the GA runtime. This tightly couples _commons_ and _runtime_, which causes problems for my scenario (described in https://github.com/graphaware/neo4j-framework/pull/45)
[code]

[2016-06-25 09:46] bachmanm commented on #53
That's a mistake. Will be fixed in the next release (next week)

[2016-06-25 09:46] #53 closed

[2016-06-25 09:55] jotomo commented on #53
@bachmanm Thanks!

[2016-07-19 11:51] SCKelemen commented on #41
So, did you guys look into it....?

[2016-07-31 12:09] ikwattro opened #57 "Start and End node representations available in RelationshipRepresentation"
In reference with https://github.com/graphaware/neo4j-to-elasticsearch/issues/32#issuecomment-236426427

[2016-07-31 13:31] ikwattro commented on #57
https://github.com/graphaware/neo4j-framework/compare/c2058a2c76...66c36d8561

[2016-09-05 16:41] FylmTM commented on #41
Hi @bachmanm ,

### TL;DR;
1) Graphaware Framework works with DMG installer
2) Put your stuff into `/Applications/Neo4j\ Community\ Edition.app/Contents/Resources/app/plugins/` directory.

### Detailed information

Configuration window shows that plugin should be placed into `/Users/<user>/Documents/Neo4j/default.graphdb/plugins` directory.

Plugins are loaded [only from `plugin` directory in appl

[2016-09-05 19:18] ikwattro commented on #41
Thanks @FylmTM , I think we can add a temporary note in our documentation.

NB: Nice sunglasses ;-)

[2016-09-06 06:46] bachmanm commented on #41
Thanks a lot @FylmTM !!

[2016-09-06 22:55] SCKelemen commented on #41
This worked fine for me.

[2016-09-07 11:42] bachmanm commented on #41
Hey @aldrinm - could you please try this on Windows? :)

[2016-09-07 11:48] #57 closed

[2016-10-10 00:01] ikwattro commented on #41
@FylmTM Is there also something specific regarding the conf files? for eg sth related to this https://github.com/graphaware/neo4j-to-elasticsearch/issues/43#issuecomment-252421828

[2016-10-10 09:23] FylmTM commented on #41
Heya @ikwattro ,

Actually, I don't remember. There is something with configuration files for sure.
Some configuration are resolved by `neo4j` script in normal distribution.
Other configuration options are parsed on server bootstrap.

[2016-12-10 16:04] espiegelberg opened #59 "Data collection not being disabled..."
I have been involved with multiple Neo4j projects and have made use of GraphAware’s neo4j-framework several times; it is incredibly useful and powerful.

Some of the projects have decided to opt out of the framework’s use of Google Analytics for anonymous statistic collection. Despite having followed the instructions in the “Data Collection” section of https://github.com/graphaware/neo4j-framework

[2016-12-10 18:27] bachmanm commented on #59
fixed by supporting both versions

[2016-12-10 18:27] #59 closed

[2017-02-08 18:03] ikwattro opened #60 "add some documentation regarding configuring the fw for the counter example"
https://github.com/graphaware/neo4j-framework/tree/master/examples/friendship-strength-counter-module

http://stackoverflow.com/questions/42117372/deploying-the-graphaware-friendship-counter-example-to-some-standalone-neo4j-ser/42118575#42118575

[2017-02-20 13:35] ikwattro opened #61 "Add Causal Cluster instance types to the InstanceRolePolicy"

[2017-03-24 21:09] ikwattro commented on #61
Fixed by @omarlarus amazing work

[2017-03-24 21:09] #61 closed

[2017-03-30 00:41] ziadloo opened #65 "Writing a module that works with Elasticsearch (Lucene package conflict)"
I know this is not an issue, but it would be great if you can help figure out how to solve it. I'm trying to write a module like the one you've got [here](https://github.com/graphaware/neo4j-framework/blob/master/examples/friendship-strength-counter-module/pom.xml) which works with Elasticsearch on the side.

The problem I've got is that Neo4j and Elasticsearch both use Lucene but unfortunately ve

[2017-03-30 10:07] bachmanm commented on #65
Have a look at https://github.com/graphaware/neo4j-to-elasticsearch and https://github.com/graphaware/graph-aided-search to see how we're dealing with this in unit tests. In production code, I'm not sure you can have both Neo4j and ES run in the same JVM :/

[2017-03-30 13:52] ziadloo commented on #65
Thanks, that's disappointing

[2017-03-30 15:12] ikwattro commented on #65
That's java

[2017-04-01 09:33] #65 closed

[2017-04-01 09:33] bachmanm commented on #41
documented thanks to @FylmTM

[2017-04-01 09:33] #41 closed

[2017-04-01 13:53] bachmanm opened #66 "Cannot turn off Google Analytics?"
People are reporting inability to turn off stats reporting, see https://github.com/graphaware/neo4j-expire/issues/6. Need to investigate.

[2017-04-06 21:19] ziadloo opened #68 "How to register some UDFs to the module test"
Considering [friendship-strength-counter-module](https://github.com/graphaware/neo4j-framework/tree/master/examples/friendship-strength-counter-module) example, if I have developed some user-defined functions in the same project, how can I register them to the embedded database in the test code?

The examples I've found on how to write tests for UDFs take a different approach to setup an embedded

[2017-04-15 08:42] rubenst2013 opened #69 "Neo4J cannot start with neo4j-framework 3.1.3.46 installed"
Hi,

I installed this plugin [v3.1.3.46] according to the provided instructions and my Neo4J CE 3.1.3 brings me the following failure message:

`Starting Neo4j failed: org.neo4j.server.web.NeoServletContainer-6bbf3ef9@259f8ba9==org.neo4j.server.web.NeoServletContainer,-1,false`

I already tried:
  - A new, empty graphdb directory, freshly initialized
  - Removing all other plugin (I only had apoc

[2017-04-15 11:59] ikwattro commented on #69
Can you provide more stacktrace ?

[2017-04-17 15:15] rubenst2013 commented on #69
Hi ikwattro,

I got it up and running by setting the Google stats disablers to false. But when adding the UUID plugin, it again failed. :(

[code]

[2017-04-24 07:49] bachmanm commented on #69
should be all fixed in 3.1.3.48. Feel free to use the UUID module for 3.1.3.45 until we release a .48 one

[2017-04-24 07:49] #69 closed

[2017-04-24 07:55] bachmanm commented on #68
something like this:

`(((GraphDatabaseFacade) database).getDependencyResolver().resolveDependency(Procedures.class)).registerProcedure(MyProc.class);`

[2017-04-24 07:55] #68 closed

[2017-05-12 21:39] gottfriedsz opened #73 "Issue since upgrade to neo4j 3.2"
Upgraded to neo4j 3.2 and the latest version of the ga framework (graphaware-server-community-all-3.1.4.49.jar) is not compatible with it. Here is the stacktrace from the console.

[code]

[2017-05-12 22:04] szing commented on #73
actucally the question is when a version of ga will be available for neo4j 3.2.

thanks

[2017-05-13 11:54] ikwattro commented on #73
Count a couple of days

[2017-05-14 05:26] bachmanm commented on #73
We will have to wait for 3.2.1 - there's a bug in 3.2.0 around new native label-based indexing that prevents us from upgrading. Stay tuned.

[2017-05-14 05:50] szing commented on #73
Ok, thanks for the update

[2017-06-13 06:49] #66 closed

[2017-08-14 14:51] aoighost commented on #73
Any news on a fix?

[2017-09-11 12:15] bachmanm commented on #73
3.2.1 was released on 13th June. Releasing 3.2.3 now...

[2017-09-11 12:15] #73 closed

[2017-09-21 13:41] cebe opened #77 "Plugin does not work with neo4j 3.2.1"
I want to use the `resttest` plugin, so according to the documentation I put the following files into `/var/lib/neo4j/plugins`:

[code]

when starting neo4j, I get a bunch of messages like this:

[code]

Full output: https://gist.github.com/cebe/e007b02ba16d309beecc3b63ef75bc6d

The endpoint of the rest API is not available so it seems the plugin is not loaded because of these errors. Reporting it

[2017-09-24 08:07] ikwattro commented on #77
Can you provide the output of your `neo4j.log` file as well? Thanks.

[2017-09-28 07:41] cebe commented on #77
That is basically what I pasted in the gist. `/var/log/neo4j/debug.log` is the logfile I have (default config of the debian package as far as I see):

https://gist.github.com/cebe/e007b02ba16d309beecc3b63ef75bc6d#file-debug-log

[code]

[2017-09-28 07:51] ikwattro commented on #77
@cebe That is basically why I asked for `neo4j.log` and not the debug file which doesnt help me much.

Also I see it is the neo4j user running the db and the plugins will not be able to be required as they are owned by the root user. Please chown the plugins to the neo4j user and restart your db.

[2017-09-28 08:47] cebe commented on #77
there is no neo4j.log on my system... `find / -name neo4j.log` returns empty.

The plugins are readable by others so they are loaded by neo4j, tried to chown them to neo4j, that did not change anything.

[2017-09-28 08:50] ikwattro commented on #77
Can you paste me the result of `ls -l /var/log/neo4j`

[2017-09-28 08:51] cebe commented on #77
[code]

[2017-09-28 08:54] cebe commented on #77
maybe my config has some problems, however its the default config installed by the debian package. I only changed the listening ports.

https://gist.github.com/cebe/e007b02ba16d309beecc3b63ef75bc6d#file-neo4j-conf

[2017-09-28 09:08] cebe commented on #77
The weird thing about this is that it does not say whats wrong.

[code]

however

[code]

the class exists in the jar file.

Related: https://github.com/neo4j-contrib/spatial/issues/253

[2017-09-28 09:19] cebe commented on #77
I think I found something:

[code]

The last part of the error is `org/aspectj/weaver/World` which seems to be the part that is missing. It can not find `org/aspectj/weaver/World`, which does not seem to be in the plugin jars and also not part of neo4j:

[code]

[2017-09-28 09:23] cebe commented on #77
so the set of missing classes is:

[code]

looks pretty random to me though...

[2017-09-28 09:25] cebe commented on #77
I have neo4j version 3.2.1 and also the plugins in version 3.2.1.* so I'd not expect a version conflict here...

[2017-09-28 09:52] cebe commented on #77
https://gist.github.com/cebe/e007b02ba16d309beecc3b63ef75bc6d#file-neo4j-conf

[2017-09-28 10:06] cebe commented on #77
the extension is not loaded as far as I assume from "extensions" to be empty here:

[code]

[2017-09-28 10:26] bachmanm commented on #77
Please add
`dbms.unmanaged_extension_classes=com.graphaware.server=/graphaware` to neo4j.conf and try again

[2017-09-28 10:36] cebe commented on #77
thank you! that works :)

[code]

[2017-09-28 10:43] #77 closed

[2017-09-28 10:47] cebe commented on #77
@bachmanm I have updated the resttest installation instructions to include a hint for this: https://github.com/graphaware/neo4j-resttest/pull/4

[2017-10-23 09:34] TNAJanssen opened #79 "Support for Neo4J 3.3"
When are you going to support this version?

[2017-11-03 02:13] jasperblues opened #80 "Proposal: Support for lifecycle events"
Suggest the ability to register any number of scheduled or on-commit lifecycle events in the run-loop. The code for this is already written in my forked neo4j-expire. It would need to be pulled into the framework.

Following that, it is very simple to provide an annotation-driven external interface with 'component scanning'. Something like:

## Scheduled Event

[code]

## Commit Event

[code]

The

[2017-11-04 06:13] jasperblues commented on #79
Out of curiosity, I had a go a look building against 3.3.0. Just to share what I found:

- There are some changes to `org.neo4j.kernel.configuration.Config` and `Settings`
- Shutdown of a database obtained from `TestGraphDatabaseFacadeFactory` does not release the file lock. Didn't see the root cause - perhaps something moved off the main thread. Should be possible to fix, but failing that can ins

[2017-11-07 12:05] ManojPrasanth opened #81 "No GraphAware Runtime is registered with the given database"
I downloaded the plugins of graphaware nlp,open-nlp,framework and copied the jar files to the plugins directory.

And as per the steps in neo4j , i included the following lines in neo4j.config file
dbms.unmanaged_extension_classes=com.graphaware.server=/graphaware
com.graphaware.runtime.enabled=true
com.graphaware.module.NLP.2=com.graphaware.nlp.module.NLPBootstrapper

After inserting this the loc

[2017-11-07 14:06] bachmanm commented on #81
See https://github.com/graphaware/neo4j-uuid/issues/44

[2017-11-07 14:06] #81 closed

[2017-11-08 12:51] bachmanm commented on #79
Released for 3.3.0

[2017-11-08 12:51] #79 closed

[2017-11-08 14:05] ManojPrasanth opened #82 "plugins"
any plugins required separately for cosine and for other procedures?
I have installed below plugins:
graphaware-nlp-3.1.3.1.jar
graphaware-server-community-all-3.2.5.51.jar
nlp-opennlp-3.1.3.1.jar

version-3.2.7

but am able to run annotation procedures but not the below procedures:

ga.nlp.language:
                   There is no procedure with the name `ga.nlp.language` registered for this datab

[2017-11-14 16:54] rremigius opened #83 "Neo4j crashes using GraphAware Framework together with APOC."
When using GraphAware Framework together with APOC, Neo4j does not start.

I need the Framework for the Elasticsearch plugin and UUID, but the Framework alone with APOC already crashes Neo4j.

**Versions**

Neo4j version 3.3.0
Plugins:
- graphaware-server-community-all-3.3.0.51.jar
- apoc-3.3.0.1-all.jar

**neo4j.conf**

[code]

**neo4j.log**

[code]

[2017-11-14 20:04] ikwattro commented on #83
Yes, we are investigating from where comes the issue, this happens only in community.

[2017-11-22 14:47] arsanjea commented on #83
Guys, thank you so much for what you are doing and for this awesome library.
However, I am stuck as well, I tried with neo4j 3.2.3/3.2.7 and I am getting the issue.

[2017-11-22 19:29] Jennipalli-V-Tejaswini opened #84 "Neo4j crashes when "com.graphaware.runtime.enabled=true" is added to the neo4j.conf file"
neo4j version 3.3.0.

I am trying to implement an nlp requirement.

According to the instructions here-  https://github.com/graphaware/neo4j-nlp   ,I have added the 4 jars->
/var/lib/neo4j/plugins/graphaware-embedded-all-3.3.0.52-SNAPSHOT.jar
/var/lib/neo4j/plugins/graphaware-nlp-3.3.0.51.2-SNAPSHOT.jar
/var/lib/neo4j/plugins/graphaware-server-community-all-3.3.0.51(1).jar
/var/lib/neo4j/plugins/n

[2017-11-23 05:42] ikwattro commented on #84
Can you try to increase the memory for the heap of neo4j :

[code]

[2017-11-23 07:41] Jennipalli-V-Tejaswini commented on #84
Worked.  Thanks

[2017-11-23 07:42] #84 closed

[2017-12-04 17:49] zdobrenen commented on #83
i'm also running into the same issue. neo4j boots with the ga framework once apoc is removed. Is there any update on the progress of resolving the issue? thanks!

[2017-12-12 20:20] ikwattro commented on #83
Fixed by #85

[2017-12-13 08:13] #60 closed

[2017-12-13 13:24] moxious commented on #83
@frant-hartm I attempted to verify the fix, but was not able to.  Within the latest master branch I did a `mvn package` and copied the resulting built JAR into my plugins directory.   Server startup failed because of many missing classes, which sort of makes sense; the fix PR removed a bit of configuration which seemed to package the resulting server plugin with its dependencies.   It's possible t

[2017-12-13 13:50] bachmanm commented on #83
Just to be clear - this wasn't an issue in either codebase, just a clash of dependency versions in two fat jars.

@moxious you're probably using the wrong jar, look into `build/graphaware-framework-server/target`, there's a 13.7MB jar.

I'm just releasing a new version of the framework with a fix for Neo4j 3.3.1. Closing this.

[2017-12-13 13:50] #83 closed

[2017-12-13 14:11] arsanjea commented on #83
I will try today and report back. Thank you!

Regards,
Jean-Marc Arsan
+ 1 (310) 435-9983
________________________________
From: Michal Bachman <notifications@github.com>
Sent: Wednesday, December 13, 2017 8:50:31 AM
To: graphaware/neo4j-framework
Cc: Jean-Marc Arsan; Comment
Subject: Re: [graphaware/neo4j-framework] Neo4j crashes using GraphAware Framework together with APOC. (#83)

Closed #83<ht

[2017-12-13 16:39] moxious commented on #83
I had the JAR @bachmanm suggested.  This is the set I was using together:

[code]

and the result: (many messages like this)

[code]

[2017-12-13 17:46] ikwattro commented on #83
but neo4j is starting and procedures are available right? we had those
warnings since a couple of time now but it is not really harming

On Wed, 13 Dec 2017 at 17:39, moxious <notifications@github.com> wrote:

--
Christophe Willemsen | Graph Aware Limited

Phone: +44 (0) 333 444 7274 <javascript:void(0);> | Mobile: +32 (0) 489 687
208 <javascript:void(0);>
christophe@graphaware.com | @graph_aware

[2017-12-18 21:02] ikwattro commented on #80
This is interesting.

I implemented an EventDispatcher in neo4j-nlp

https://github.com/graphaware/neo4j-nlp/blob/master/src/main/java/com/graphaware/nlp/module/NLPModule.java#L65

https://github.com/graphaware/neo4j-nlp/blob/master/src/main/java/com/graphaware/nlp/event/EventDispatcher.java#L47

I would be interested to see how it behaves with annotations, also the ability to define custom events

[2017-12-19 06:56] jasperblues commented on #80
Thanks @ikwattro, I'll send a PR soon

[2017-12-19 06:57] SimonThordal commented on #83
I seem to be getting this same error for 3.2.6 and APOC. Framework loads fine on its own, combined with apoc 3.2.3.5 it breaks.

[2017-12-19 07:46] ikwattro commented on #83
The fix has been included on 3.3.1, so you will need to upgrade.

We do not backport fixes to older versions of neo4j except for GraphAware Enterprise customers.

[2018-01-02 21:36] arsanjea commented on #83
I installed a new version of neo4j with to the latest versions of neo4j, apoc and graphaware; however, I am still experiencing issues.
The installation works perfectly with either apoc or graphaware plugins, but not with both :(
Files:

- neo4j-enterprise-3.3.1-unix.tar.gz
- apoc-3.3.0.1-all.jar
- graphaware-server-enterprise-all-3.3.1.51.jar
- graphaware-uuid-3.3.1.51.14.jar

Output:
[code]

[2018-01-02 21:38] ikwattro commented on #83
Can you upgrade your java version ? I had the same issue with `build 1.8.0_131-b11`, however upgrading to `build 1.8.0_151-b12` the issue disappeared.

We will investigate this use case though after the holidays

[2018-01-02 22:16] arsanjea commented on #83
Ok - I used alpine 9 and get the same error :(
Version of java:
[code]

[2018-01-09 14:52] jasperblues commented on #80
Tests passing - just tidying up.

[2018-01-10 01:00] jasperblues opened #86 "Handle live backups gracefully"
Steps to repro:

- Install a module, eg Neo4j-expire
- Run a live backup

Expected:

Gracefully logs that DB is backing up, resumes when done.

Actual:

Exception is logged:

[code]

[2018-01-10 05:17] bachmanm commented on #86
Hey Jasper, I think the stack trace got trimmed, could you post the full one pls?

[2018-01-10 11:11] jasperblues commented on #86
[code]

[2018-01-10 12:34] ikwattro commented on #86
@jasperblues What version is it, tried to replicate with 3.3.1 and couldn't

[2018-01-10 12:39] jasperblues commented on #86
@ikwattro it is neo4j 3.2.2, with the previous version of the FW. Plan to update soon, will let you know if  I can still repro.

[2018-01-11 04:09] valayDave commented on #83
I am having the same problem. I am running Neo4j Desktop Version for the Mac. The graphaware framework library works fine stand alone. When coupled with APOC, neo4j crashes with errors described by the users on this thread.

**Versions**

Neo4j version 3.3.1

Java

[code]
**Plugins**:

graphaware-server-community-all-3.3.0.51.jar
apoc-3.3.0.1-all.jar

**Neo4j conf**

[code]

What should I do? I am

[2018-01-23 03:19] jasperblues commented on #80
I submitted a PR. What do you think of:

- Using an interface, rather than annotations, to define events. _(A future enhancement can add the ability to inject dependencies or configuration using annotations)_.
- Events are auto-registered using classpath scanning.
- Running the events as a module. Tighter integration?

Happy new year to you all btw 🎉

[2018-01-26 12:11] bachmanm commented on #86
@jasperblues could you check if this is an issue on 3.3.2 or 3.3.1 still? Thanks!

[2018-01-26 12:14] jasperblues commented on #86
Yes, I plan to upgrade to 3.3.x once I know what is happening with #87, meantime will check asap.

[2018-01-26 12:14] bachmanm commented on #80
This is great @jasperblues, thank you very much. One thought: make the code a separate module and call it neo4j-lifecycle? Then make neo4j-expire obsolete or very minimalistic. I can merge this, but I'm not sure about having a module inside the framework, this would be the first one... thoughts @jasperblues @ikwattro ? If we all agree it should be outside the framework, I can do the work and creat

[2018-01-26 12:19] jasperblues commented on #80
The options are:

- Module in the framework (current state, after initial discussion).
- More tightly integrated into the framework (as a runloop or something).
- Separate module.

I don't mind which - feel free to choose whichever is appropriate after weighing up the pros and cons, and I'll send a new or modified PR.

[2018-01-31 00:53] jasperblues commented on #80
Looking forward to your thoughts @ikwattro

In the meantime:

- Perhaps it is worth considering having the ability to inject type-safe `@Value` properties into module components, at a framework level. This is something to consider as a separate but related issue to where lifecycle should ultimately end up. If such a feature existed would `@Value` be appropriate or a framework specific one? I would

[2018-01-31 07:23] ikwattro commented on #80
@jasperblues sorry I skipped this. external module is fine and I think @bachmanm already took some steps for that.

[2018-01-31 23:40] jasperblues commented on #80
👍 OK, go ahead and do that, if you find it useful. And no need to worry about attribution.

[2018-02-01 10:30] rremigius commented on #83
I'd like to confirm @arsanjea's issue, as I get the same exception with the following configuration:

**Neo4j**
neo4j-community-3.3.2

**Plugins**
apoc-3.3.0.1-all.jar
graphaware-server-community-all-3.3.2.51.jar

**neo4j.conf**

[code]

**Java**

[code]

[2018-02-01 11:49] jasperblues commented on #86
Does not happen on 3.3.2

[2018-02-04 20:57] ikwattro commented on #83
@rremigius @arsanjea

Please test with the latest release of today which hopefully will fix that issue forever as we are now building with apoc during tests.

https://products.graphaware.com/download/framework-server-community/latest

[2018-02-05 08:43] rremigius commented on #83
@ikwattro Great, it works for me! Thanks!

[2018-04-05 08:08] jasperblues commented on #80
https://github.com/jasperblues/neo4j-framework

^-- linking to the code, as there is no longer an open PR that points to it. Happy to help set up a module.

[2018-06-19 01:31] btroop opened #89 "neo4j-framework runtime interference with neo4j-graphql"
I think I might have found an issue where the neo4j-framework in "GraphAware Runtime" mode interferes with the neo4j-graphql package; when running the neo4j-framework for supporting the UUID and timetree modules, the graphql endpoint from the neo4j-graphql package does not load the graphql schema, nor does it respond to queries or mutations. As soon as I turn off the neo4j-framework in the conf fi

[2018-06-19 04:30] bachmanm commented on #89
Do you see any errors in the logs at startup?

[2018-06-19 08:40] ikwattro commented on #89
Hi @btroop

Please also post your neo4j version, plugins versions and configuration.

I did a quick test with Neo4j 3.4, our nlp

[2018-06-19 08:45] ikwattro commented on #89
Hi @btroop Can you please also provide your neo4j version, plugins versions and neo4j configuration. I did a quick test with Neo4j 3.4, GA framework, uuid and nlp, no issues :

![screen shot 2018-06-19 at 10 38 29](https://user-images.githubusercontent.com/1222009/41586747-cd561322-73ad-11e8-8d93-f5bd13770cc0.png)

Make sure to allow both plugins to register extension endpoints :

dbms.unmanaged_e

[2018-06-20 01:44] btroop commented on #89
Thanks for the help @ikwattro!

Oddly enough, I checked the registration piece and graphql functionality was dependent on where in the conf the module was registered.

If the graphql registration is on its own line before the neo4j-framework registration the graphql endpoint does not work as expected.

_not working:_
<img width="612" alt="screen shot 2018-06-19 at 6 40 27 pm" src="https://user-ima

[2018-07-09 12:33] #86 closed

[2018-12-04 10:58] noeljackson opened #91 "Can not resolve com.neo4j:neo4j-cypher-slotted-runtime"
When building neo4j-framework with maven, it used to work without a problem. After trying to build for Neo4j 3.5 I run into the following issue where I am not authorized to get cypher slotted runtime. Is there something I can do to fix this issue?

[code]
`
[ERROR] Failed to execute goal on project framework-parent: Could not resolve dependencies for project com.graphaware.neo4j:framework-parent:p

[2018-12-05 03:01] ikwattro commented on #91
Hi @noeljackson

Following the [shift of Neo4j to an OpenCore licensing model](https://neo4j.com/blog/open-core-licensing-model-neo4j-enterprise-edition/) , the `neo4j-cypher-slotted-runtime` is a `neo4j-enterprise` dependency. You'll need to get the credentials for accessing those.

What does it mean for the framework ? I believe over time we might have a separate framework repository that relies

[2019-06-20 22:59] Jiropole opened #92 "tx-api as plugin dependency with Neo4j 3.5"
Just upgraded from 3.4.x to 3.5.6, and trying to rebuild our plugin for updated dependencies – no other changes. Started getting a Neo4j error on launch "It is not allowed to define functions in the root namespace please use a namespace". After some deduction, it seems to be triggered simply by adding dependence on `tx-api`.

I tried simply taking the [standard procedure template](https://github.c

[2019-06-26 09:31] #92 closed

[2019-07-16 09:21] luanne opened #96 "Upgrading to Neo4j 3.5.6 causes server integration tests that load the browser to fail"
[code]
in
`GraphAwareIntegrationTestTest`, `NeoServerIntegrationTestTest`, `ServerIntegrationTestTest`

fail against Neo4j 3.5.6 and Neo4j 3.5.7
Last working version is Neo4j 3.5.5

[2019-10-25 09:19] kingo999 opened #98 "Cannot find Audit module"
I cannot seem to find the Audit module: com.graphaware.module.AuditModuleBootstrapper.
2019-10-25 09:08:12.999+0000 INFO  Bootstrapping module with order 2, ID FSM, using com.graphaware.module.AuditModuleBootstrapper
2019-10-25 09:08:13.000+0000 ERROR Unable to bootstrap module 2 com.graphaware.module.AuditModuleBootstrapper
java.lang.ClassNotFoundException: com.graphaware.module.AuditModuleBootst

[2019-10-26 20:20] ikwattro commented on #98
Audit is a commercial offering only. There is no open-source releases. Feel free to send an e-mail to info@graphaware.com for more information.

[2019-10-26 20:20] #98 closed

[2020-01-28 22:09] mvid opened #105 "Cannot resolve APOC library during trigger execution on start"
We recently started using Neo4j triggers to take care of some backend business logic, but we have noticed that on start, we can no longer bring up the container due to an error in "Graphaware Starter". Any time a trigger exists that references anything in the APOC library (a loaded plugin), it fails with a ProdecureException because it cannot find the "apoc.*" call we were using.

We verified the

[2020-03-25 08:32] jkcdarunday opened #109 "Support for Neo4j 4.0.x"
Hi,
Neo4j 4.0 was released early last month with support for sharding and multiple databases which makes it able to scale horizontally more than before. Drivers and other libraries like Graphaware's Spring Data Neo4j and Neo4j OGM are already compatible with it except for this framework which is the last thing blocking our upgrade.

Are there plans to support the next version for this framework an

[2020-04-03 08:00] bachmanm commented on #80
Hopefully this is now covered by https://github.com/graphaware/neo4j-triggers

[2020-04-03 08:00] #80 closed

[2020-04-03 08:01] bachmanm commented on #91
All Neo4j enterprise dependencies have now been removed from the Community version of this framework, starting with version 3.5.14.58. Please check it out.

[2020-04-03 08:01] #91 closed

[2020-04-03 08:03] bachmanm commented on #96
This is due to an internals change in Neo4j, should be fixed in latest releases

[2020-04-03 08:03] #96 closed

[2020-05-13 14:51] Ocume opened #111 "Neo4j 3.5.14 cannot start with GraphAware Framework and Spatial"
When using GraphAware Framework together with Spatial, Neo4j does not start.

I need the Framework for the UUID, but the Framework alone with Spatial already crashes Neo4j.

**Versions**

Neo4j 3.5.14 Enterprise.
graphaware-server-all-3.5.14.55.jar
neo4j-spatial-0.26.2-neo4j-3.5.2-server-plugin.jar

**neo4j.conf**
[code]

**neo4j.log**

[code]

[2020-05-31 00:04] foobargeez commented on #109
Hello,
I am blocked on the latest version of neo4j-framework and timetree plugin to work with neo4j 4.x.  Are there plans to be compatible with 4.x?  If so, can you please post a tentative timeline so I can plan my upgrade accordingly?  Thanks!

[2020-07-20 02:43] johanwasserman commented on #109
bump

[2020-11-02 19:54] J-Krush commented on #109
Is there a reason 4.x isn't supported yet?

[2021-01-02 04:20] mcclown opened #115 "GraphUnit.areSameGraph(GraphDatabaseService database, String sameGraphCypher) should be static"
GraphUnit has a private constructor, so this method can never be called.

[2021-01-02 19:33] ikwattro commented on #115
Method is public, the private constructor is on purpose.

[2021-01-03 00:19] mcclown commented on #115
That's missing the point, you didn't read the title.

GraphUnit.areSameGraph(GraphDatabaseService database, String sameGraphCypher) is the only non-static method on this class. You can't create an instance of this class, so therefore this method can't be called. This method should be static.

[2021-01-03 12:21] bachmanm commented on #115
Stephen, do you need a build for 4.1.x?

[2021-01-03 22:37] mcclown commented on #115
@bachmanm No, I'm fine. I had a look at the source and just used GraphUnit.areSameGraph(GraphDatabaseService database, String sameGraphCypher, InclusionPolicies inclusionPolicies) instead with InclusionPolicies.all().

[2021-02-08 21:37] J-Krush commented on #109
@jkcdarunday or @foobargeez Did you find any workarounds? I'm probably not going to use this framework because of the lack of support.

[2021-02-08 22:04] foobargeez commented on #109
Nope :-( I dropped this when I upgraded to Neo4j v4.  Timetree blocked my upgrade to Neo4j v4 but I was able to temporarily work around in my code.

[2021-02-08 22:18] J-Krush commented on #109
@foobargeez Bummerrrrr.. thanks for the response, though!

[2021-02-18 22:34] ikwattro commented on #109
There is support for 4.x -> products.graphaware.com

[2021-05-05 19:17] #105 closed

[2021-05-05 19:17] #109 closed

[2021-05-05 19:17] #111 closed

[2021-05-05 19:17] #115 closed, assigned to nobody